.directory {
    height: 100%;
    .wrap {
        display: inline-block;
        width: 100%;
        height: 100%;
        .item {
            position: relative;
            width: 50%;
            height: calc(100vh - 6.5rem);
            float: left;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            &::after {
                content: '';
                position: absolute;
                top:0;left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
            }

            a {
                position: absolute;
                top: 50%;left:50%;
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                z-index: 2;
                font-size: 2rem;
                line-height: 1;
                background: white;
                font-weight: 400;
                text-transform: uppercase;
                padding: 8px 10px;
                border: 1px solid black;
            }
        }
    }   
}